<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="net.daum.android.map" />
    </queries>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".view.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TripGo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.kakao.vectormap.APP_KEY"
            android:value="@string/KAKAO_API_KEY"/>
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".view.attraction.detail.AttractionsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.attraction.AttractionsActivity"
            android:exported="false" />
        <activity
            android:name=".view.festival.detail.FestivalDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.tour.detail.TourDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.calendar.modify.TourModifyDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.search.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".view.festival.FestivalActivity"
            android:exported="false" />
        <activity
            android:name=".view.tour.TourActivity"
            android:exported="false" />

        <activity
            android:name=".view.reviewwriting.gallery.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="false" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <!-- scheme-example: "kakao{NATIVE_APP_KEY}" -->
                <data
                    android:host="oauth"
                    android:scheme="kakaoeca5f404da5dbd4674ad38f22b89fe02" />

            </intent-filter>
        </activity>

    </application>

</manifest>
